build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.env
config.json
history.json
*.log
.vscode/
.idea/
installer_output/
tmp_path.txt
Hyundai-Casper-Electric-2-1024x633.webp
